.navbar{
    background-color: rgb(255, 255, 252) !important;
    /* height: 120px; */
    min-height: 80px;
    width: auto;
}
.nav-logo {
    height: 65px;
    width: 145px;
}
.nav-item{
    font-size: 1rem;
}
.nav-link:hover{
    text-decoration: underline;
    color:rgb(8, 170, 8) !important;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
}
@media (max-width: 991px) {
    .nav-item {
        text-align: end;
        padding:10px 0;
    }
}